#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define FN    1

#define NONE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
    &kp ESC         &kp Q       &kp W       &kp E     &kp R     &kp T      &kp Y     &kp U     &kp I       &kp O     &kp P    &kp BSLH
    &kp TAB         &kp A       &kp S       &kp D     &kp F     &kp G      &kp H     &kp J     &kp K       &kp L     &kp RET
    &kp LSHIFT      &kp Z       &kp X       &kp C     &kp V     &kp B      &kp N     &kp M     &kp RSHIFT  &kp F
                                            &kp LALT  &kp LGUI  &kp SPACE  &kp RALT
            >;
    };
};
